<div class="footer">
    <div class="container">
        <hr>
        <div class="footerBottom">
            <p>© 1996 - 2022 Макотехна</p>
            <div class="socialIcons">
                <a href="https://www.facebook.com/Makotehna" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/makotehna_chemicals/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>