<div id="footerBox" class="wrapper row5" style="position: fixed; width: 100%; left: 0; bottom: 0; z-index: 10; background-color: black;">
    <div id="copyright" class="hoc clear">
        <p class="fl_left" style="color: white">© 1996 - <script>document.write(new Date().getFullYear());</script> МАКОТЕХНА. Сите права се задржани.</p>
        <p class="fl_right socialMedia" style="color: black"><a href="https://www.facebook.com/Makotehna" target="_blank" class="socialMedia1"><i class="fab fa-facebook"></i></a> <a href="https://www.instagram.com/makotehna_chemicals/" target="_blank" class="socialMedia1"><i class="fab fa-instagram"></i></a></p>
    </div>
</div>
