<div class="footer">
    <div class="container">
        <div class="footerTop">
            <div class="row" style="align-items: center;">
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="aboutPart" style="text-align: center;">
                        <a href="/"><img src="../images/logo.png"></a>
                        <p v-if="language == 'mk'">
                            ул. Новачки Пат бр. 1<br>
                            7000 Битола
                        </p><br>
                        <p v-if="language == 'en'">
                            st. Novacki Pat no. 1<br>
                            7000 Bitola
                        </p>
                        <a href="https://www.google.com/maps?ll=41.0357,21.299438&z=13&t=m&hl=en-US&gl=US&mapclient=embed&cid=15043129713296511706" style="color: green;" v-if="language == 'mk'">Види мапа</a>
                        <a href="https://www.google.com/maps?ll=41.0357,21.299438&z=13&t=m&hl=en-US&gl=US&mapclient=embed&cid=15043129713296511706" style="color: green;" v-if="language == 'en'">See map</a>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4" style="padding-left: 20px; border-left: 1px solid #ccc;">
                    <button onclick="window.location.href = '/contact'" v-if="language == 'mk'">Потребна ви е помош ? <i class="fas fa-angle-right"></i></button>
                    <button onclick="window.location.href = '/contact'" v-if="language == 'en'">Do you need help? <i class="fas fa-angle-right"></i></button>
                    <hr>
                    <ul>
                        <li style="margin-bottom: 5px;"><i class="fa-solid fa-envelope" style="margin-right:10px; vertical-align: middle;"></i><a href="mailto:makotehna.info@gmail.com">makotehna.info@gmail.com</a></li>
                        <li style="margin-bottom: 5px;"><i class="fa-solid fa-phone" style="margin-right:10px; vertical-align: middle;"></i><a href="tel:+38976000000">+389 75 327 399</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="infoPart" style="margin-left: 30px;">
                        <h2 v-if="language == 'mk'">Информации</h2>
                        <h2 v-if="language == 'en'">Information</h2>
                        <ul v-if="language == 'mk'">
                            <li><a href="/about">За нас</a></li>
                            <li><a href="/pdf/catalogMK.pdf" target="_blank">Каталог</a></li>
                            <li><a href="/proizvodi">Производи</a></li>
                        </ul>
                        <ul v-if="language == 'en'">
                            <li><a href="/about">About</a></li>
                            <li><a href="/pdf/catalogEN.pdf" target="_blank">Catalog</a></li>
                            <li><a href="/proizvodi">Products</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="footerBottom">
            <p>© 1996 - 2022 Макотехна</p>
            <div class="socialIcons">
                <a href="https://www.facebook.com/Makotehna" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/makotehna_chemicals/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>