body{
	overflow-x: hidden;
}

.carousel-control-next-icon{
	background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")!important;	
}

.carousel-control-prev-icon{
	background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e")!important;
}

/* ############## */

.header{
	margin-top: 15px;
}

.header .navbar{
	display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.header .navbar a{
	font-size: 18px;
    color: #136207;
    margin-right: 18px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

.header .navbar .bigButton {
    background-color: #136207;
    color: white;
    text-decoration: none;
    padding: 5px 25px;
    border-radius: 5px;
    text-transform: uppercase;
}

.header .navbar .bigButton:hover, .header .navbar a:hover{
	opacity: 0.7;
}

.header .headerBg{
	opacity: 0;
	height: 400px;
    margin-top: 10px;
	/*background: url('../images/background.png');*/
	background-position: center!important;
    background-size: cover!important;
    transition: opacity 0.6s linear!important;
}

.header .headerBg p{
    width: 50%;
	margin: 0 auto;
	margin-top: 80px;
    font-weight: 700;
    font-size: 40px;
    /*color: white;*/
    color: #0f5635;
    /*color: #198754;*/
    text-shadow: 0 0 10px #2a2a2a75;
    /*font-size: 26px;*/
}

.header .headerBg .leftSide{
	background: #ccccccb0;
    height: 400px;
    clip-path: polygon(0 0, 97% 0, 85% 100%, 0% 100%);
}

.header .headerButtons{
	display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ############### */

.main{
	margin: 30px 0;
}

.main h1{
	font-weight: bold;
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #136207;
    text-align: center;
}

.main hr.mainLine{
	width: 180px;
    margin: 10px auto;
    margin-bottom: 25px;
    height: 5px;
    background: #b9b9b9;
    border: 0;
}

.main .about {
	margin: 50px 0;
}

.main .about img{
	width: 200px;
	margin-top: 20px;
}

.main .categories {
	/*margin: 50px 0;*/
}

.main .categories .categoryBox{
	position: relative;
	color: white;
    text-align: center;
	border-radius: 5px;
	padding: 10px 25px;
	margin-bottom: 10px;
	height: 210px;
	box-shadow: 0 0 4px #ccc;
}

.main .categories .categoryBox p {
	position: absolute;
    bottom: 0;
	left: 10px;
    right: 10px;

    word-break: break-all;
    margin-left: 0px;
    text-shadow: 0 0 10px black;
    text-transform: uppercase;
    font-weight: 600;

    background: #00000040;
    padding: 2px 15px;
    border-radius: 5px;
}

.main .categories .categoryBox:hover{
	opacity: 0.7;
	cursor: pointer;
}

.main .bigButton {
    background-color: #136207;
    color: white;
    text-decoration: none;
    padding: 8px 25px;
    border-radius: 5px;
    text-transform: uppercase;
}

.main .bigButton:hover{
	opacity: 0.7;
}

.main .categories .productBox {
	padding: 10px;
	background: #fff;
	height: 390px;
	border-radius: 5px;
	margin-bottom: 10px;
	box-shadow: 0 0 3px #ccc;
}

.main .categories .productBox img{
	width: -webkit-fill-available;
	height: 286px;
}

.main .categories .productBox h2{
	font-size: 18px;
    text-align: center;
    color: #136207;
}

.main .categories .productBox{
	cursor: pointer;
}

.main .categories .productBox:hover{
	opacity: 0.7;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding: 75px 0px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
	color: black;
}
.modal-content h1 {
	text-align: center;
	margin-bottom: 15px;
	font-weight: 700;
	font-family: system-ui;
	font-size: 18px;
	color: #136207;
}
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	text-align: right;
}
.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

body.modal-open {
    overflow: hidden;
}

.contact ul{
	margin-top: 10px;
    list-style: none;
}

.contact ul li{
	margin-bottom: 10px;
}

.contact ul li i{
	margin-right: 20px;
	color: #136207;
}


/* ################ */

.footer{
	font-weight: lighter;
    font-size: 15px;
}

.footerBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: lighter;
    font-size: 15px;
	margin-bottom: 25px;
}

.footerTop h2{
    color: #136207;
    font-size: 22px;
}

.footerTop ul{
    list-style: none;
    padding-left: 15px;
}

.footerTop ul li a{
    color: #136207;
    text-decoration: none;
    cursor: pointer;
}

.footerTop ul li i{
	color: #136207;
	font-size: 17px;
}

.footerTop ul li a:hover{
    color: #6c757d!important;
}

.footerTop .siteMap{
    display: flex;
}

.footerTop button{
	border-radius: 5px;
    background: #136207;
    color: white;
    font-weight: 500;
    padding: 5px 15px;
    border: 0;
    font-size: 18px;
}

.footerTop button:hover{
	opacity: 0.7;
}

.footer .footerBottom .socialIcons i {
    font-size: 20px;
    color: #136207;
    margin-left: 10px;
    border-radius: 80px;
    background: #f5f5f5;
    padding: 14px;
}

.footer .footerBottom p {
    margin: 0;
}

.footer .footerBottom .socialIcons i:hover {
	opacity: 0.7;
}

.dropbtn {
  background-color: #136207;
  color: white;
  padding: 3px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.header .mobileNavbar{
	display: none;
}

.categoryImage{
	flex: 1 0 auto;
	width: 50px;
    height: 50px;
    border-radius: 80px;
    box-shadow: rgb(207 207 207) 0px 0px 10px;
	margin: 10px 0;
}

.categoryButton:hover{
	opacity: 0.6;
	cursor: pointer;
}

.headerText{
	margin-bottom: 0;
    font-weight: 600;
    color: #2e611b;
    font-size: 18px;
}

.greenColor{
	color: #2e611b; cursor: pointer; font-weight: 700; text-decoration: none;
}

a.greenColor:hover{
	color: green;
	opacity: 0.7;
}


.productsList h2{
	text-align: center;
    background: #2e611b;
    color: white;
    font-size: 28px;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 0px 13px -11px black;

}

.productsList .productButton{
	background: white;
    padding: 10px 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 13px -11px black;
    cursor: pointer;
    margin-top: 6px;
}

.productsList .productButton:hover{
	opacity: 0.7;
}

.productsList .productButton a{
	color: #2e611b;
	text-decoration: none;
	cursor: pointer;
	word-break: break-all;
}

/* ################ */

@media screen and (max-width: 1000px) {
	
	.header .mobileNavbar{
		display: block!important;
	}

	.header .navbar{
		display: none;

	}
}

@media screen and (max-width: 700px){

	.header .headerBg p{
		width: 100%!important;
		font-size: 30px!important;

	}

	.modal-content{
		width: 95%!important;
	}

	.headerText{
		display: none;
	}

	.footerTop{
		align-items: center!important;
	    justify-content: center;
        text-align: center;
	}

	.footerTop .siteMap{
		flex-direction: column!important;
	}

	.footerTop .infoPart{
		margin-left: 0!important;
	}

	.footerTop .aboutPart{
	    margin-right: 0!important;
	}

	.footerTop .aboutPart a img{
	    margin-bottom: 10px!important;
	}

	.footerTop button{
		margin-top: 15px;
	}

	.footerTop .siteMap{
		align-items: center!important;
	}

}
