<!DOCTYPE html>
<html lang="">
    <%- partial('../partials/head.ejs'); %>
    <body id="top" style="background-color: black;">
        <!-- <div class="bgded" style="background-image:url('images/pozadina-slika.jpeg');"> -->
            <div class="wrapper row1">
                <header id="header" class="hoc clear">
                    <div id="logo" class="fl_left">
                    <!-- <a href="/proizvodi"><img style="width: 120px; height: 100px; margin-top: -7px;" src="images/logo.png"></a> -->
		    </div>
                    <!-- <nav id="mainav" class="fl_right">
                        <ul class="clear">
                            <li class="active"><a href="/">Почетна</a></li>
                            <li class="active"><a href="/proizvodi">КАТАЛОГ</a></li>
                            <li class="active"><a href="/about">За Нас</a></li>
                            <li class="active"><a href="/contact">КОНТАКТ</a></li>
                        </ul>
                        <div class="smallDisplay" style="text-align: right;">
							<div class="dropdown">
								<button onclick="openDropDown()" class="dropbtn"><i class="fa fa-bars"></i></button>
								<div id="myDropdown" class="dropdown-content dropdown-menu-right">
									<a href="/">ПОЧЕТНА</a>
									<a href="/proizvodi">КАТАЛОГ</a>
									<a href="/about">ЗА НАС</a>
                                    <a href="/contact">КОНТАКТ</a>
								</div>
							</div>
						</div>
            		</nav> -->
                </header>
            </div>
            <div class="overlay2" style="height: auto; min-height: 800px;">
                <div id="pageintro2 aboutUsPageintro" class="hoc clear">
                    <article style="margin-top: -100px;">
                        <!-- <h3 style="position: center; font-weight: bold; font-size: 30px; color: green; font-family: Arial, Helvetica, sans-serif;"> -->
                            <!-- Макотехна -->
                        <!-- </h3> -->
                        <div class="aboutUsPage">
                            <div class="textSide">
                                <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 30px; font-size: 18px; text-align: left;"> <span style="color: green; font-weight: bold;">МАКОТЕХНА</span> Дооел е формирана во Септември 1996 година.<br><br> Главна дејност е производство на професионални средства за Хигиена, Дезинфекција, Одмастувачи за прехранбена индустрија, Одмастувачи за машинска индустрија, Автокозметика, Парфеми, Санитарни Течности, Брисачи за раце, Тоалет хартија, Најлонски вреќи.<br><br>
                                <span style="color: green; font-weight: bold;">МАКОТЕХНА</span> во текот на годините беше флексибилна компанија, која беше во можност лесно да се преориентира на пазарот и да произведува средства според потребите на истиот со сите стандарди кои ги бара потрошувачот.</p>
                            </div>
                            <div class="rightSide">
                                <div class="buttonSide">
                                    <a href="/proizvodi">
                                        <button>ИСТРАЖИ</button>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </a>
                                </div>
                            </div>
                            
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <%- partial('../partials/footer.ejs'); %>
        <!-- <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a> -->
    </body>
    <!-- JAVASCRIPTS -->
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/jquery.backtotop.js"></script>
    <script src="scripts/mainScript.js"></script>
  
</html>
