<div class="header">
	<div class="container">
		<a href="/"><img src="images/logo.png"></a>
		<hr>
		<div class="headerButtons">
			<div class="navbar">
				<a href="/proizvodi" class="bigButton">Производи</a>
				<a href="/about">За нас</a>
				<a href="">Каталог</a>
				<a href="/contact">Контакт</a>
			</div>
			<div><img src="images/flags/usFlag.png" style="height: 35px;"></div>
		</div>
	</div>
	<div class="headerBg" style="height: 150px!important;">
	</div>
</div>
<div class="main">
	<div class="container">
		<div class="row about">
			<h1>За Макотехна</h1>
			<hr>
			<div class="col-12 col-sm-12 col-md-6 col-lg-6">
				<p><b style="color: green;">МАКОТЕХНА</b> Дооел е формирана во Септември 1996 година.<br><br>Главна дејност е производство на професионални средства за Хигиена, Дезинфекција, Одмастувачи за прехранбена индустрија, Одмастувачи за машинска индустрија, Автокозметика, Парфеми, Санитарни Течности, Брисачи за раце, Тоалет хартија, Најлонски вреќи.
				<br><br>
				<b style="color: green;">МАКОТЕХНА</b> во текот на годините беше флексибилна компанија, која беше во можност лесно да се преориентира на пазарот и да произведува средства според потребите на истиот со сите стандарди кои ги бара потрошувачот.</p>
				<a href="#" class="bigButton">Прочитај повеќе</a>
			</div>
			<div class="col-12 col-sm-12 col-md-6 col-lg-6 text-center">
				<img src="images/about.png">
			</div>
		</div>
	</div>
</div>