<div class="header" data-aos="fade-down">
	<div class="container">
		<div style="display: flex; justify-content: space-between;">
			<a href="/"><img src="images/logo.png"></a>

			<div class="headerButtons">
				<div class="navbar" v-if="language == 'mk'">
					<a href="/proizvodi" class="bigButton">Производи</a>
					<a href="/about">За нас</a>
					<a href="/pdf/catalogMK.pdf" target="_blank">Каталог</a>
					<a href="/contact">Контакт</a>
				</div>
				<div class="navbar" v-if="language == 'en'">
					<a href="/proizvodi" class="bigButton">Products</a>
					<a href="/about">About us</a>
					<a href="/pdf/catalogEN.pdf" target="_blank">Catalogue</a>
					<a href="/contact">Contact</a>
				</div>
				<div class="mobileNavbar" v-if="language == 'mk'">
					<div class="dropdown">
						<button class="dropbtn"><i class="fa-solid fa-bars"></i></button>
						<div class="dropdown-content">
							<a href="/proizvodi">Производи</a>
							<a href="/about">За нас</a>
							<a href="/pdf/catalogMK.pdf" target="_blank">Каталог</a>
							<a href="/contact">Контакт</a>
						</div>
					</div>
				</div>
				<div class="mobileNavbar" v-if="language == 'en'">
					<div class="dropdown">
						<button class="dropbtn"><i class="fa-solid fa-bars"></i></button>
						<div class="dropdown-content">
							<a href="/proizvodi">Products</a>
							<a href="/about">About us</a>
							<a href="/pdf/catalogEN.pdf" target="_blank">Catalogue</a>
							<a href="/contact">Contact</a>
						</div>
					</div>
				</div>
				<div><img src="images/flags/usFlag.png" v-on:click="changeLanguage()" v-if="language == 'mk'" style="width: 35px; cursor: pointer; margin-left: 10px;"><img src="images/flags/mkFlag.png" v-on:click="changeLanguage()" v-if="language == 'en'" style="width: 35px; cursor: pointer; margin-left: 10px;"></div>
			</div>
		</div>
		
		<hr>
	</div>
</div>
<div class="main">
	<div class="about" style="background: rgb(248, 248, 248); padding: 30px 0px;">
		<div class="container">
			<h1 v-if="language == 'mk'">За Макотехна</h1>
			<h1 v-if="language == 'en'">About Makotehna</h1>
			<hr class="mainLine">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-6 col-lg-6" v-if="language == 'mk'">
					<p><b style="color: green;">МАКОТЕХНА</b> Дооел е формирана во Септември 1996 година.<br><br>Главна дејност е производство на професионални средства за Хигиена, Дезинфекција, Одмастувачи за прехранбена индустрија, Одмастувачи за машинска индустрија, Автокозметика, Парфеми, Санитарни Течности, Брисачи за раце, Тоалет хартија, Најлонски вреќи.
					<br><br>
					<b style="color: green;">МАКОТЕХНА</b> во текот на годините беше флексибилна компанија, која беше во можност лесно да се преориентира на пазарот и да произведува средства според потребите на истиот со сите стандарди кои ги бара потрошувачот.</p>
				</div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-6" v-if="language == 'en'">
					<p><b style="color: green;">MAKOTEHNA</b> DOOEL was established in September 1996.<br><br>
					The main activity is the production of professional products for Hygiene, Disinfection, Degreasers for the food industry, Degreasers for the machine industry, Autocosmetics, Perfumes, Sanitary Liquids, Hand wipes, Toilet paper, Nylon bags.<br><br>
					<span style="color: green; font-weight: bold;">MAKOTEHNA</span> has been a flexible company over the years, which was able to easily reorient itself to the market and produce assets according to its needs with all the standards required by the consumer.</p>
				</div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-6 text-center">
					<img src="images/about.png">
				</div>
			</div>
		</div>
	</div>
</div>