<div class="header" data-aos="fade-down">
	<div class="firstHeader">
		<div class="container">
			<div style="padding: 5px 10px;"><a v-on:click="changeLanguage('mk')" class="greenColor" v-bind:style="[language == 'mk' ? {'background':'#4d7c33', 'padding': '2px 7px'} : {'background':'transparent'}]">MK</a> <a v-on:click="changeLanguage('en')" class="greenColor" v-bind:style="[language == 'en' ? {'background':'#4d7c33', 'padding': '2px 7px'} : {'background':'transparent'}]">EN</a></div>
		</div>
	</div>
	<div class="container">
		<div style="display: flex; justify-content: space-between; align-items: center;">
			<a href="/"><img src="images/logo.png"></a>
			<p class="headerText" v-if="language == 'mk'">Компанија за Производство на<br> Професионални Хемиски Препарати</p>
			<p class="headerText" v-if="language == 'en'">Company for Profession Chemical Production</p>
			<div class="headerButtons">
				<div v-if='device == "desktop"'>
					<div class="navbar" v-if="language == 'mk'">
						<div class="dropdown">
							<button class="dropbtn" style="margin-right: 10px; font-size: 18px; font-weight: 600; text-transform: uppercase; padding: 5px 20px;">Производи</button>
							<div class="dropdown-content" style="width: max-content; right: 10px;">
								<a v-for="category in categories" v-on:click="redirectToCategory(category.id)" style="font-size: 14px; cursor: pointer; width: 100%;">{{ category.categoryName }}</a>
							</div>
						</div>
						<a href="/about">За нас</a>
						<a href="/pdf/catalogMK.pdf" target="_blank">Каталог</a>
						<a href="/contact">Контакт</a>
					</div>
					<div class="navbar" v-if="language == 'en'">
						<div class="dropdown">
							<button class="dropbtn" style="margin-right: 10px; font-size: 18px; font-weight: 600; text-transform: uppercase; padding: 5px 20px;">Products</button>
							<div class="dropdown-content" style="width: max-content; right: 10px;">
								<a v-for="category in categories" v-on:click="redirectToCategory(category.id)" style="font-size: 14px; cursor: pointer; width: 100%;">{{ category.categoryNameEN }}</a>
							</div>
						</div>
						<a href="/about">About us</a>
						<a href="/pdf/catalogEN.pdf" target="_blank">Catalogue</a>
						<a href="/contact">Contact</a>
					</div>
				</div>
				<div v-if='device == "mobile"'>
					<div class="mobileNavbar" v-if="language == 'mk'">
						<div class="dropdown">
							<button class="dropbtn" style="margin-right: 10px;"><i class="fa-solid fa-bars"></i></button>
							<div class="dropdown-content" style="width: max-content; right: 10px; min-width: max-content; padding: 15px 5px;">
								<!-- <a href="/proizvodi">Производи</a> -->
								<div class="dropdown-in">
									<button class="dropbtn-in" style="font-size: 18px; font-weight: 600; text-transform: uppercase; padding: 5px 20px;">Производи</button>
									<div class="dropdown-content-in" style="width: max-content;">
										<a v-for="category in categories" v-on:click="redirectToCategory(category.id)" style="font-size: 14px; cursor: pointer; width: 100%;">{{ category.categoryName }}</a>
									</div>
								</div>
								<a href="/about" style="width: 100%;">За нас</a>
								<a href="/pdf/catalogMK.pdf" target="_blank" style="width: 100%;" >Каталог</a>
								<a href="/contact" style="width: 100%;">Контакт</a>
							</div>
						</div>
					</div>
					<div class="mobileNavbar" v-if="language == 'en'">
						<div class="dropdown">
							<button class="dropbtn" style="margin-right: 10px;"><i class="fa-solid fa-bars"></i></button>
							<div class="dropdown-content" style="width: max-content; right: 10px; min-width: max-content; padding: 15px 5px;">
								<div class="dropdown-in">
									<button class="dropbtn-in" style="font-size: 18px; font-weight: 600; text-transform: uppercase; padding: 5px 20px;">Products</button>
									<div class="dropdown-content-in" style="width: max-content;">
										<a v-for="category in categories" v-on:click="redirectToCategory(category.id)" style="font-size: 14px; cursor: pointer; width: 100%;">{{ category.categoryNameEN }}</a>
									</div>
								</div>
								<a href="/about" style="width: 100%;">About us</a>
								<a href="/pdf/catalogEN.pdf" target="_blank"  style="width: 100%;">Catalogue</a>
								<a href="/contact"  style="width: 100%;">Contact</a>
							</div>
						</div>
					</div>
				</div>
				<!-- <div><img src="images/flags/usFlag.png" v-on:click="changeLanguage()" v-if="language == 'mk'" style="width: 35px; cursor: pointer; margin-left: 10px;"><img src="images/flags/mkFlag.png" v-on:click="changeLanguage()" v-if="language == 'en'" style="width: 35px; cursor: pointer; margin-left: 10px;"></div> -->
			</div>
		</div>
		
		<hr>
	</div>
</div>
<div class="main">
	<div class="about" style="background: rgb(248, 248, 248); padding: 30px 0px;">
		<div class="container">
			<h1 v-if="language == 'mk'">За Макотехна</h1>
			<h1 v-if="language == 'en'">About Makotehna</h1>
			<hr class="mainLine">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-6 col-lg-6" v-if="language == 'mk'">
					<p><b style="color: green;">МАКОТЕХНА</b> Дооел е формирана во Септември 1996 година.<br><br>Главна дејност е производство на професионални средства за Хигиена, Дезинфекција, Одмастувачи за прехранбена индустрија, Одмастувачи за машинска индустрија, Автокозметика, Парфеми, Санитарни Течности, Брисачи за раце, Тоалет хартија, Најлонски вреќи.
					<br><br>
					<b style="color: green;">МАКОТЕХНА</b> во текот на годините беше флексибилна компанија, која беше во можност лесно да се преориентира на пазарот и да произведува средства според потребите на истиот со сите стандарди кои ги бара потрошувачот.</p>
				</div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-6" v-if="language == 'en'">
					<p><b style="color: green;">MAKOTEHNA</b> DOOEL was established in September 1996.<br><br>
					The main activity is the production of professional products for Hygiene, Disinfection, Degreasers for the food industry, Degreasers for the machine industry, Autocosmetics, Perfumes, Sanitary Liquids, Hand wipes, Toilet paper, Nylon bags.<br><br>
					<span style="color: green; font-weight: bold;">MAKOTEHNA</span> has been a flexible company over the years, which was able to easily reorient itself to the market and produce assets according to its needs with all the standards required by the consumer.</p>
				</div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-6 text-center">
					<img src="images/about.png">
				</div>
			</div>
		</div>
	</div>
</div>