<div class="header">
	<div class="container">
		<a href="/"><img src="images/logo.png"></a>
		<hr>
		<div class="headerButtons">
			<div class="navbar">
				<a href="/proizvodi" class="bigButton">Производи</a>
				<a href="/about">За нас</a>
				<a href="">Каталог</a>
				<a href="/contact">Контакт</a>
			</div>
			<div><img src="images/flags/usFlag.png" style="width: 35px;"></div>
		</div>
	</div>
	<div class="headerBg" :style="{ background: 'url(' + backgroundImage + ')'  }" data-aos="zoom-out">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-8 col-lg-8 leftSide">
				<div class="container">
					<p>Макотехна е твојот број еден партнер за чиста и здрава животна средина</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="main">
	<div class="about">
		<div class="container">
			<h1>За Макотехна</h1>
			<hr class="mainLine">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-6 col-lg-6">
					<p><b style="color: green;">МАКОТЕХНА</b> Дооел е формирана во Септември 1996 година.<br><br>Главна дејност е производство на професионални средства за Хигиена, Дезинфекција, Одмастувачи за прехранбена индустрија, Одмастувачи за машинска индустрија, Автокозметика, Парфеми, Санитарни Течности, Брисачи за раце, Тоалет хартија, Најлонски вреќи.
					<br><br>
					<b style="color: green;">МАКОТЕХНА</b> во текот на годините беше флексибилна компанија, која беше во можност лесно да се преориентира на пазарот и да произведува средства според потребите на истиот со сите стандарди кои ги бара потрошувачот.</p>
					<a href="#" class="bigButton">Прочитај повеќе</a>
				</div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-6 text-center">
					<img src="images/about.png">
				</div>
			</div>
		</div>
	</div>
	<div class="categories" style="background:#f8f8f8; padding: 30px 0;">
		<div class="container">
			<div class="row">
				<h1>Топ најбарани производи</h1>
				<hr class="mainLine">
				<div class="col-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<div class="col-12 col-sm-12 col-md-3 col-lg-3">
							<div class="productBox" style="background:#ffffff;">
								<img src="https://makotehna.mk/images/products/6ac348af-a61a-4925-8412-a8059ac84601.jpg">
								<hr>
								<h2>Герамин АБ 1</h2>
							</div>
						</div>
						<div class="col-12 col-sm-12 col-md-3 col-lg-3">
							<div class="productBox"  style="background:#ffffff;">
								<img src="https://makotehna.mk/images/products/6ac348af-a61a-4925-8412-a8059ac84601.jpg">
								<hr>
								<h2>Герамин АБ 2</h2>
							</div>
						</div>
						<div class="col-12 col-sm-12 col-md-3 col-lg-3">
							<div class="productBox" style="background:#ffffff;">
								<img src="https://makotehna.mk/images/products/6ac348af-a61a-4925-8412-a8059ac84601.jpg">
								<hr>
								<h2>Герамин АБ 3</h2>
							</div>
						</div>
						<div class="col-12 col-sm-12 col-md-3 col-lg-3">
							<div class="productBox" style="background:#ffffff;">
								<img src="https://makotehna.mk/images/products/6ac348af-a61a-4925-8412-a8059ac84601.jpg">
								<hr>
								<h2>Герамин АБ 4</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="categories">
		<div class="container">
			<h1>КАТЕГОРИИ</h1>
			<hr class="mainLine">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-4 col-lg-4" v-for="category in categories">
					<div class="categoryBox" v-bind:style="{ background: 'url(images/category/' + category.categoryImageID + ')'  }" v-on:click="changeCategory(category.categoryName)" style=" background-size: cover; background-position: center; background-repeat: no-repeat;">
						<p>{{ category.categoryName }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>