x<div class="header" data-aos="fade-down">
	<div class="container">
		<div style="display: flex; justify-content: space-between; align-items: center;">
			<a href="/"><img src="images/logo.png"></a>

			<p class="headerText" v-if="language == 'mk'">Компанија за Производство на<br> Професионални Хемиски Препарати</p>
			<p class="headerText" v-if="language == 'en'">Company for Profession Chemical Production</p>

			<div class="headerButtons">
				<div v-if='device == "desktop"'>
					<div class="navbar" v-if="language == 'mk'">
						<a href="/proizvodi" class="bigButton">Производи</a>
						<a href="/about">За нас</a>
						<a href="/pdf/catalogMK.pdf" target="_blank">Каталог</a>
						<a href="/contact">Контакт</a>
					</div>
					<div class="navbar" v-if="language == 'en'">
						<a href="/proizvodi" class="bigButton">Products</a>
						<a href="/about">About us</a>
						<a href="/pdf/catalogEN.pdf" target="_blank">Catalogue</a>
						<a href="/contact">Contact</a>
					</div>
				</div>
				<div v-if='device == "mobile"'>
					<div class="mobileNavbar" v-if="language == 'mk'">
						<div class="dropdown">
							<button class="dropbtn" style="margin-right: 10px;"><i class="fa-solid fa-bars"></i></button>
							<div class="dropdown-content">
								<a href="/proizvodi">Производи</a>
								<a href="/about">За нас</a>
								<a href="/pdf/catalogMK.pdf" target="_blank">Каталог</a>
								<a href="/contact">Контакт</a>
							</div>
						</div>
					</div>
					<div class="mobileNavbar" v-if="language == 'en'">
						<div class="dropdown">
							<button class="dropbtn" style="margin-right: 10px;"><i class="fa-solid fa-bars"></i></button>
							<div class="dropdown-content">
								<a href="/proizvodi">Products</a>
								<a href="/about">About us</a>
								<a href="/pdf/catalogEN.pdf" target="_blank">Catalogue</a>
								<a href="/contact">Contact</a>
							</div>
						</div>
					</div>
				</div>
				<!-- <div><img src="images/flags/usFlag.png" v-on:click="changeLanguage()" v-if="language == 'mk'" style="width: 35px; cursor: pointer; margin-left: 10px;"><img src="images/flags/mkFlag.png" v-on:click="changeLanguage()" v-if="language == 'en'" style="width: 35px; cursor: pointer; margin-left: 10px;"></div> -->

				<div style="border-left: 2px solid green; padding: 10px;"><a v-on:click="changeLanguage('mk')" class="greenColor" v-bind:style="[language == 'mk' ? {'border-bottom': '2px solid'} : {'border-bottom':'none'}]">MK</a><span class="greenColor"> / </span><a v-on:click="changeLanguage('en')" class="greenColor" v-bind:style="[language == 'en' ? {'border-bottom': '2px solid'} : {'border-bottom':'none'}]">EN</a></div>
			</div>
		</div>
		
		<hr>
	</div>
	<div class="headerBg" :style="{ background: 'url(' + backgroundImage + ')'  }" data-aos="zoom-out">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-8 col-lg-8 leftSide">
				<div class="container">
					<p v-if="language == 'mk'">Макотехна е твојот број еден партнер за чиста и здрава животна средина</p>
					<p v-if="language == 'en'">Makotehna is your number one partner for clean and healthy enviorment</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="main">
	<div class="categories" style="background:#f8f8f8; padding: 30px 0;">
		<div class="container">
			<div class="row">
				<h1 v-if="language == 'mk'">Препорачани Производи</h1>
				<h1 v-if="language == 'en'">Recommended Products</h1>
				<hr class="mainLine">
				<div class="col-12 col-sm-12 col-md-12 col-lg-12">


					<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
				        <!-- Carousel indicators -->
				        <ol class="carousel-indicators" style="bottom: -25px;">
				            <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" style="background: #a6a6a6; border: none;"></li>
				            <li data-bs-target="#myCarousel" data-bs-slide-to="1" style="background: #a6a6a6; border: none;"></li>
				            <li data-bs-target="#myCarousel" data-bs-slide-to="2" style="background: #a6a6a6; border: none;"></li>
				        </ol>
				        <!-- Wrapper for carousel items -->
				        <div class="carousel-inner">
				            <div class="carousel-item active">
				                <div class="row">
									<div class="col-6 col-sm-6 col-md-3 col-lg-3">
										<div class="productBox" style="background:#ffffff;">
											<img v-on:click="openModal('62225e887f3a20037a380f7e', '636928448bca16ff9846dc9b')" src="images/staticProducts/gerlikvi.jpg">
											<hr>
											<h2>ГЕРАМИН ЛИКВИМИН</h2>
										</div>
									</div>
									<div class="col-6 col-sm-6 col-md-3 col-lg-3">
										<div class="productBox"  style="background:#ffffff;">
											<img v-on:click="openModal('636d908e74c744b561a37ce8', '636928448bca16ff9846dc9b')" src="images/staticProducts/gerplankt.jpg">
											<hr>
											<h2>ГЕРАМИН ПЛАНКТ</h2>
										</div>
									</div>
									<div class="col-6 col-sm-6 col-md-3 col-lg-3">
										<div class="productBox" style="background:#ffffff;">
											<img v-on:click="openModal('622262187f3a20037a380f89', '636928448bca16ff9846dc9b')" src="images/staticProducts/nvreki.jpeg">
											<hr>
											<h2>НАЈЛОНСКИ ВРЕЌИ</h2>
										</div>
									</div>
									<div class="col-6 col-sm-6 col-md-3 col-lg-3">
										<div class="productBox" style="background:#ffffff;">
											<img v-on:click="openModal('622262407f3a20037a380f8b', '636928448bca16ff9846dc9b')" src="images/staticProducts/brisac.jpg">
											<hr>
											<h2>ТОАЛЕТ ХАРТИЈА ВО ЛИСТОВИ</h2>
										</div>
									</div>
								</div>
				            </div>
				            <div class="carousel-item">
				                <div class="row">
									<div class="col-6 col-sm-6 col-md-3 col-lg-3">
										<div class="productBox" style="background:#ffffff;">

											<img v-on:click="openModal('6222551e7f3a20037a380f65', '636928d88bca16ff9846dc9d')" src="images/staticProducts/avtopre.jpg">
											<hr>
											<h2>АВТОШАМПОН ПРЕМИУМ</h2>
										</div>
									</div>
									<div class="col-6 col-sm-6 col-md-3 col-lg-3">
										<div class="productBox"  style="background:#ffffff;">
											<img v-on:click="openModal('62225e887f3a20037a380f7e', '636928448bca16ff9846dc9b')" src="images/staticProducts/gerplankt.jpg">
											<hr>
											<h2>ГЕРАМИН ПЛАНКТ</h2>
										</div>
									</div>
									<div class="col-6 col-sm-6 col-md-3 col-lg-3">
										<div class="productBox" style="background:#ffffff;">
											<img v-on:click="openModal('6222551e7f3a20037a380f65', '636928d88bca16ff9846dc9d')" src="images/staticProducts/avtopre.jpg">
											<hr>
											<h2>АВТОШАМПОН ПРЕМИУМ</h2>
										</div>
									</div>
									<div class="col-6 col-sm-6 col-md-3 col-lg-3">
										<div class="productBox" style="background:#ffffff;">
											<img v-on:click="openModal('6222635b7f3a20037a380f8f', '636928448bca16ff9846dc9b')" src="images/staticProducts/eko.jpeg">
											<hr>
											<h2>ЕКО МАКС</h2>
										</div>
									</div>
								</div>
				            </div>
				            <div class="carousel-item">
				                <div class="row">
									<div class="col-6 col-sm-6 col-md-3 col-lg-3">
										<div class="productBox" style="background:#ffffff;">
											<img v-on:click="openModal('62225add7f3a20037a380f73', '6369286e8bca16ff9846dc9c')" src="images/staticProducts/bakto.jpeg">
											<hr>
											<h2>БАКТОГЕЛ</h2>
										</div>
									</div>
									<div class="col-6 col-sm-6 col-md-3 col-lg-3">
										<div class="productBox" style="background:#ffffff;">
											<img v-on:click="openModal('627b921cf915caebc12d0c63', '636928448bca16ff9846dc9b')" src="images/staticProducts/unisol.png">
											<hr>
											<h2>УНИСОЛ</h2>
										</div>
									</div>
									<div class="col-6 col-sm-6 col-md-3 col-lg-3">
										<div class="productBox" style="background:#ffffff;">
											<img v-on:click="openModal('62225f5d7f3a20037a380f80', '636928448bca16ff9846dc9b')" src="images/staticProducts/wctop.jpg">
											<hr>
											<h2>WC TOP</h2>
										</div>
									</div>
								</div>
				            </div>
				        </div>

				        <!-- Carousel controls -->
				        <a class="carousel-control-prev" href="#myCarousel" data-bs-slide="prev" style="bottom: -26px; align-items: flex-end;">
				            <span class="carousel-control-prev-icon" style="width: 1.8rem;"></span>
				        </a>
				        <a class="carousel-control-next" href="#myCarousel" data-bs-slide="next" style="bottom: -26px; align-items: flex-end;">
				            <span class="carousel-control-next-icon" style="width: 1.8rem;"></span>
				        </a>
				    </div>
				</div>
			</div>
		</div>
	</div>
	<div class="categories">
		<div class="row" style="background: url(images/gradientCert.png) no-repeat center center; background-size: cover; align-items: center;">
			<div class="col-12 col-sm-12 col-md-6 col-lg-6" style="margin: 30px 0; ">
				<div class="container" style="margin: 30px 0;">
					<h1 v-if="language == 'mk'" style="color: white">Сертификати</h1>
					<h1 v-if="language == 'en'" style="color: white">Certificates</h1>
					<!-- <hr class="mainLine"> -->
					<p v-if="language == 'mk'" style="color: white; margin-bottom: 30px; text-align: center;">Сертификација so ISO 9001:2015 и ISO 14001:2015 се само дел од факторите кои обезбедуваат високa квалитетнa услугa на Макотехна. </p>
					<p v-if="language == 'en'" style="color: white; margin-bottom: 30px; text-align: center;">Our Certificates ISO 9001:2015 and ISO 14001:2015 are only part of the factors that ensure the high quality service for Makotehna. </p>
				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-6 col-lg-6">
				<div class="container" style="margin: 30px 0;">
					<div class="row">
						<div class="col-12 col-sm-12 col-md-6 col-lg-6 text-center">
							<a href="/pdf/ISO9001.pdf" style="text-decoration: none;" target="_blank">
								<img src="/images/certificates/ISO9001.png" style="width:30%;">
								<p style="font-weight: bold; color: white; margin: 0;">ISO 9001:2015</p>
							</a>
						</div>
						<div class="col-12 col-sm-12 col-md-6 col-lg-6 text-center">
							<a href="/pdf/ISO14001.pdf" style="text-decoration: none;" target="_blank">
								<img src="/images/certificates/ISO14001.png" style="width:30%;">
								<p style="font-weight: bold; color: white; margin: 0;">ISO 14001:2015</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="categories">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-6 col-lg-6" style="background: url(images/cat.jpeg) no-repeat center center; background-size: cover;"></div>
			<div class="col-12 col-sm-12 col-md-6 col-lg-6">
				<div class="container" style="margin: 30px 0;">
					<h1 v-if="language == 'mk'">КАТЕГОРИИ</h1>
					<h1 v-if="language == 'en'">Categories</h1>
					<hr class="mainLine">
					<div class="row">
						<div class="col-12 col-sm-12 col-md-6 col-lg-6" v-for="category in categories">
							<div class="categoryButton" style="display: inline-flex; align-items: center; margin: 10px 0;" v-if="language == 'mk'" v-on:click="redirectToCategory(category.id)">
								<div class="categoryImage" v-bind:style="{ background: 'url(images/category/' + category.categoryImageID + ')'  }" style=" background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
								<p style="margin: 0; margin-left: 8px; font-weight: 700; color: green;">{{ category.categoryName }}</p>
							</div>
							<div class="categoryButton" style="display: inline-flex; align-items: center; margin: 10px 0;" v-if="language == 'en'" v-on:click="redirectToCategory(category.id)">
								<div class="categoryImage" v-bind:style="{ background: 'url(images/category/' + category.categoryImageID + ')'  }" style=" background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
								<p style="margin: 0; margin-left: 8px; font-weight: 700; color: green;">{{ category.categoryNameEN }}</p>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
	<div class="categories" style="background:#f8f8f8; padding: 30px 0;">
		<div class="container">
			<a v-if="language == 'mk'" href="/pdf/catalogMK.pdf" target="_blank"><img src="/images/mkKatalog.jpg" style="width: 100%; margin-bottom: 50px;"></a>
			<a v-if="language == 'en'" href="/pdf/catalogEN.pdf" target="_blank"><img src="/images/enKatalog.jpg" style="width: 100%; margin-bottom: 50px;"></a>
		</div>
	</div>
</div>