<!DOCTYPE html>
<html lang="">
    <%- partial('../partials/head.ejs'); %>
    <body id="top">
        <div id="bck-image" class="bgded" style="background-image:url('images/pozadina-slika.jpeg');">
            <div class="wrapper row1">
                <header id="header" class="hoc clear">
                    <div id="logo" class="fl_left">
                        <img style="width: 150px; height: 110px; margin-top: -7px;" src="images/logo1.png">
                    </div>
                    <nav id="mainav" class="fl_right">
                        <ul class="clear">
                            <li class="active"><a href="/">Почетна</a></li>
                            <li class="active"><a href="/proizvodi">КАТАЛОГ</a></li>
                            <li class="active"><a href="/about">За Нас</a></li>
                            <li class="active"><a href="/contact">КОНТАКТ</a></li>
                        </ul>
                        <div class="smallDisplay" style="text-align: right;">
							<div class="dropdown">
								<button onclick="openDropDown()" class="dropbtn"><i class="fa fa-bars"></i></button>
								<div id="myDropdown" class="dropdown-content dropdown-menu-right">
									<a href="/">ПОЧЕТНА</a>
									<a href="/proizvodi">КАТАЛОГ</a>
									<a href="/about">ЗА НАС</a>
                                    <a href="/contact">КОНТАКТ</a>
								</div>
							</div>
						</div>
            		</nav>
                </header>
            </div>
            <div class="overlay" style="height: auto; min-height: 750px;">
                <div id="pageintro" class="hoc clear">
                    <article>
                        <h3 class="heading">Комплетни хигиенски решенија<br> во сите области</h3>
                    </article>
                </div>
            </div>
        </div>

        <%- partial('../partials/footer.ejs'); %>
        <!-- <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a> -->
    </body>
    <!-- JAVASCRIPTS -->
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/jquery.backtotop.js"></script>
    <script src="scripts/mainScript.js"></script>
</html>