<div class="header">
	<div class="container">
		<a href="/"><img src="images/logo.png"></a>
		<hr>
		<div class="headerButtons">
			<div class="navbar">
				<a href="/proizvodi" class="bigButton">Производи</a>
				<a href="/about">За нас</a>
				<a href="">Каталог</a>
				<a href="/contact">Контакт</a>
			</div>
			<div><img src="images/flags/usFlag.png" style="width: 35px;"></div>
		</div>
	</div>
	<div class="headerBg" v-for="i in currentIndex" :key="i" v-bind:style="{ background: 'url(' + currentImg + ')'  }">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-6 col-lg-6">
					<p>Макотехна е твојот број еден партнер за чиста и здрава животна средина</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="main" id="mainApp">
	<div class="container">
		<div class="row about">
			<h1>За Макотехна</h1>
			<hr>
			<div class="col-12 col-sm-12 col-md-6 col-lg-6">
				<p><b style="color: green;">МАКОТЕХНА</b> Дооел е формирана во Септември 1996 година.<br><br>Главна дејност е производство на професионални средства за Хигиена, Дезинфекција, Одмастувачи за прехранбена индустрија, Одмастувачи за машинска индустрија, Автокозметика, Парфеми, Санитарни Течности, Брисачи за раце, Тоалет хартија, Најлонски вреќи.
				<br><br>
				<b style="color: green;">МАКОТЕХНА</b> во текот на годините беше флексибилна компанија, која беше во можност лесно да се преориентира на пазарот и да произведува средства според потребите на истиот со сите стандарди кои ги бара потрошувачот.</p>
				<a href="#" class="bigButton">Прочитај повеќе</a>
			</div>
			<div class="col-12 col-sm-12 col-md-6 col-lg-6 text-center">
				<img src="images/about.png">
			</div>
		</div>
		<div class="row categories">
			<h1>Топ најбарани производи</h1>
			<hr>
			<div class="col-12 col-sm-12 col-md-12 col-lg-12">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-3 col-lg-3">
						<div class="productBox">
							<img src="https://makotehna.mk/images/products/6ac348af-a61a-4925-8412-a8059ac84601.jpg">
							<hr>
							<h2>Герамин АБ 5</h2>
						</div>
					</div>
					<div class="col-12 col-sm-12 col-md-3 col-lg-3">
						<div class="productBox">
							<img src="https://makotehna.mk/images/products/6ac348af-a61a-4925-8412-a8059ac84601.jpg">
							<hr>
							<h2>Герамин АБ 5</h2>
						</div>
					</div>
				</div>
			</div>
			<div id="productModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <hr>
                    <div class="row">
                        <div class="col-12 col-md-6">
                        <img src="https://makotehna.mk/images/products/6ac348af-a61a-4925-8412-a8059ac84601.jpg" style='width: -webkit-fill-available; margin: auto; border: 1px solid #ccc; margin-bottom: 10px;'>
                        </div>
                        <div class="col-12 col-md-6">   
							<h1 style="font-size: 20px;">ГЕРАМИН АБ5 - 10%</h1>
							<hr>
							<h1 style="font-size: 15px; text-align: left;">Опис</h1>
							<p style="white-space: break-spaces;">Концентрат за чистење и дезинфекција на сите површини со продолжено
							дејство. - 10л
							100мл раствор содржи 10г бензалкониум хлорид.</p>
							<h1 style="font-size: 15px; text-align: left;">Начин на употреба/дозирање</h1>
							<p style="white-space: break-spaces;">0.25% раствор – 25 мл во 975 мл водa
							0.5% раствор – 50 мл во 950 мл вода
							1% раствор – 100 мл во 900 мл вода
							2% раствор – 200 мл во 800 мл вода</p>
							<div style="display: flex; align-items: center; justify-content: center; margin-top: 50px;">
								<i class="fas fa-ban" style="font-size: 50px; color: red; margin-right: 10px;"></i>
								<div style="display: flex; flex-direction: column; align-items: center;">
									<h1 style="font-size: 14px; text-align: left; text-transform: uppercase; margin-bottom: 0;">Само за професионална употреба !</h1>
									<h1 style="font-size: 14px; text-align: left; text-transform: uppercase; margin-bottom: 0;">Подалеку од дофат на деца !!</h1>
								</div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>