<div class="header" data-aos="fade-down">
	<div class="container">
		<a href="/"><img src="images/logo.png"></a>
		<hr>
		<div class="headerButtons">
			<div class="navbar" v-if="language == 'mk'">
				<a href="/proizvodi" class="bigButton">Производи</a>
				<a href="/about">За нас</a>
				<a href="/pdf/catalogMK.pdf" target="_blank">Каталог</a>
				<a href="/contact">Контакт</a>
			</div>
			<div class="navbar" v-if="language == 'en'">
				<a href="/proizvodi" class="bigButton">Products</a>
				<a href="/about">About us</a>
				<a href="/pdf/catalogEN.pdf" target="_blank">Catalog</a>
				<a href="/contact">Contact</a>
			</div>
			<div class="mobileNavbar" v-if="language == 'mk'">
				<div class="dropdown">
					<button class="dropbtn"><i class="fa-solid fa-bars"></i></button>
					<div class="dropdown-content">
						<a href="/proizvodi">Производи</a>
						<a href="/about">За нас</a>
						<a href="/pdf/catalogMK.pdf" target="_blank">Каталог</a>
						<a href="/contact">Контакт</a>
					</div>
				</div>
			</div>
			<div class="mobileNavbar" v-if="language == 'en'">
				<div class="dropdown">
					<button class="dropbtn"><i class="fa-solid fa-bars"></i></button>
					<div class="dropdown-content">
						<a href="/proizvodi">Products</a>
						<a href="/about">About us</a>
						<a href="/pdf/catalogEN.pdf" target="_blank">Catalog</a>
						<a href="/contact">Contact</a>
					</div>
				</div>
			</div>
			<div><img src="images/flags/usFlag.png" v-on:click="changeLanguage()" v-if="language == 'mk'" style="width: 35px; cursor: pointer;"><img src="images/flags/mkFlag.png" v-on:click="changeLanguage()" v-if="language == 'en'" style="width: 35px; cursor: pointer;"></div>
		</div>
	</div>
	<div class="headerBg" :style="{ background: 'url(' + backgroundImage + ')'  }" data-aos="zoom-out">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-8 col-lg-8 leftSide">
				<div class="container">
					<p>Макотехна е твојот број еден партнер за чиста и здрава животна средина</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="main">
	<div class="categories" style="background:#f8f8f8; padding: 30px 0;">
		<div class="container">
			<div class="row">
				<h1 v-if="language == 'mk'">Топ најбарани производи</h1>
				<h1 v-if="language == 'en'">Top trending products</h1>
				<hr class="mainLine">
				<div class="col-12 col-sm-12 col-md-12 col-lg-12">


					<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
				        <!-- Carousel indicators -->
				        <ol class="carousel-indicators" style="bottom: -25px;">
				            <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" style="background: #a6a6a6; border: none;"></li>
				            <li data-bs-target="#myCarousel" data-bs-slide-to="1" style="background: #a6a6a6; border: none;"></li>
				            <li data-bs-target="#myCarousel" data-bs-slide-to="2" style="background: #a6a6a6; border: none;"></li>
				        </ol>
				        
				        <!-- Wrapper for carousel items -->
				        <div class="carousel-inner">
				            <div class="carousel-item active">
				                <div class="row">
									<div class="col-6 col-sm-6 col-md-3 col-lg-3">
										<div class="productBox" style="background:#ffffff;">
											<img src="https://makotehna.mk/images/products/6ac348af-a61a-4925-8412-a8059ac84601.jpg">
											<hr>
											<h2>Герамин АБ 1</h2>
										</div>
									</div>
									<div class="col-6 col-sm-6 col-md-3 col-lg-3">
										<div class="productBox"  style="background:#ffffff;">
											<img src="https://makotehna.mk/images/products/6ac348af-a61a-4925-8412-a8059ac84601.jpg">
											<hr>
											<h2>Герамин АБ 2</h2>
										</div>
									</div>
									<div class="col-6 col-sm-6 col-md-3 col-lg-3">
										<div class="productBox" style="background:#ffffff;">
											<img src="https://makotehna.mk/images/products/6ac348af-a61a-4925-8412-a8059ac84601.jpg">
											<hr>
											<h2>Герамин АБ 3</h2>
										</div>
									</div>
									<div class="col-6 col-sm-6 col-md-3 col-lg-3">
										<div class="productBox" style="background:#ffffff;">
											<img src="https://makotehna.mk/images/products/6ac348af-a61a-4925-8412-a8059ac84601.jpg">
											<hr>
											<h2>Герамин АБ 4</h2>
										</div>
									</div>
								</div>
				            </div>
				            <div class="carousel-item">
				                <div class="row">
									<div class="col-6 col-sm-6 col-md-3 col-lg-3">
										<div class="productBox" style="background:#ffffff;">
											<img src="https://makotehna.mk/images/products/6ac348af-a61a-4925-8412-a8059ac84601.jpg">
											<hr>
											<h2>Герамин АБ 1</h2>
										</div>
									</div>
									<div class="col-6 col-sm-6 col-md-3 col-lg-3">
										<div class="productBox"  style="background:#ffffff;">
											<img src="https://makotehna.mk/images/products/6ac348af-a61a-4925-8412-a8059ac84601.jpg">
											<hr>
											<h2>Герамин АБ 2</h2>
										</div>
									</div>
									<div class="col-6 col-sm-6 col-md-3 col-lg-3">
										<div class="productBox" style="background:#ffffff;">
											<img src="https://makotehna.mk/images/products/6ac348af-a61a-4925-8412-a8059ac84601.jpg">
											<hr>
											<h2>Герамин АБ 3</h2>
										</div>
									</div>
									<div class="col-6 col-sm-6 col-md-3 col-lg-3">
										<div class="productBox" style="background:#ffffff;">
											<img src="https://makotehna.mk/images/products/6ac348af-a61a-4925-8412-a8059ac84601.jpg">
											<hr>
											<h2>Герамин АБ 4</h2>
										</div>
									</div>
								</div>
				            </div>
				            <div class="carousel-item">
				                <div class="row">
									<div class="col-6 col-sm-6 col-md-3 col-lg-3">
										<div class="productBox" style="background:#ffffff;">
											<img src="https://makotehna.mk/images/products/6ac348af-a61a-4925-8412-a8059ac84601.jpg">
											<hr>
											<h2>Герамин АБ 1</h2>
										</div>
									</div>
									<div class="col-6 col-sm-6 col-md-3 col-lg-3">
										<div class="productBox"  style="background:#ffffff;">
											<img src="https://makotehna.mk/images/products/6ac348af-a61a-4925-8412-a8059ac84601.jpg">
											<hr>
											<h2>Герамин АБ 2</h2>
										</div>
									</div>
									<div class="col-6 col-sm-6 col-md-3 col-lg-3">
										<div class="productBox" style="background:#ffffff;">
											<img src="https://makotehna.mk/images/products/6ac348af-a61a-4925-8412-a8059ac84601.jpg">
											<hr>
											<h2>Герамин АБ 3</h2>
										</div>
									</div>
									<div class="col-6 col-sm-6 col-md-3 col-lg-3">
										<div class="productBox" style="background:#ffffff;">
											<img src="https://makotehna.mk/images/products/6ac348af-a61a-4925-8412-a8059ac84601.jpg">
											<hr>
											<h2>Герамин АБ 4</h2>
										</div>
									</div>
								</div>
				            </div>
				        </div>

				        <!-- Carousel controls -->
				        <a class="carousel-control-prev" href="#myCarousel" data-bs-slide="prev" style="bottom: -26px; align-items: flex-end;">
				            <span class="carousel-control-prev-icon" style="width: 1.8rem;"></span>
				        </a>
				        <a class="carousel-control-next" href="#myCarousel" data-bs-slide="next" style="bottom: -26px; align-items: flex-end;">
				            <span class="carousel-control-next-icon" style="width: 1.8rem;"></span>
				        </a>
				    </div>
				</div>
			</div>
		</div>
	</div>
	<div class="categories">
		<div class="container">
			<h1 v-if="language == 'mk'">КАТЕГОРИИ</h1>
			<h1 v-if="language == 'en'">Categories</h1>
			<hr class="mainLine">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-3 col-lg-3" v-for="category in categories">
					<div class="categoryBox" v-if="language == 'mk'" v-bind:style="{ background: 'url(images/category/' + category.categoryImageID + ')'  }" v-on:click="redirectToCategory(category.id)" style=" background-size: cover; background-position: center; background-repeat: no-repeat;">
						<p>{{ category.categoryName }}</p>
					</div>
					<div class="categoryBox" v-if="language == 'en'" v-bind:style="{ background: 'url(images/category/' + category.categoryImageID + ')'  }" v-on:click="redirectToCategory(category.id)" style=" background-size: cover; background-position: center; background-repeat: no-repeat;">
						<p>{{ category.categoryNameEN }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="categories" style="background:#f8f8f8; padding: 30px 0;">
		<div class="container">
			<h1 v-if="language == 'mk'">Сертификати</h1>
			<h1 v-if="language == 'en'">Certifications</h1>
			<hr class="mainLine">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-6 col-lg-6 text-center">
					<a href="/pdf/ISO9001.pdf" style="text-decoration: none;" target="_blank">
						<img src="/images/logoISO.png">
						<p style="font-weight: bold; color: #136207;">ISO 9001:2015</p>
					</a>
				</div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-6 text-center">
					<a href="/pdf/ISO14001.pdf" style="text-decoration: none;" target="_blank">
						<img src="/images/logoISO.png">
						<p style="font-weight: bold; color: #136207;">ISO 14001:2015</p>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>