<div class="header">
    <div class="container">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <a href="/"><img src="images/logo.png"></a>

            <p class="headerText" v-if="language == 'mk'">Компанија за Производство на<br> Професионални Хемиски Препарати</p>
            <p class="headerText" v-if="language == 'en'">Company for Profession Chemical Production</p>

            <div class="headerButtons">
                <div class="navbar" v-if="language == 'mk'">
                    <a href="/proizvodi" class="bigButton">Производи</a>
                    <a href="/about">За нас</a>
                    <a href="/pdf/catalogMK.pdf" target="_blank">Каталог</a>
                    <a href="/contact">Контакт</a>
                </div>
                <div class="navbar" v-if="language == 'en'">
                    <a href="/proizvodi" class="bigButton">Products</a>
                    <a href="/about">About us</a>
                    <a href="/pdf/catalogEN.pdf" target="_blank">Catalogue</a>
                    <a href="/contact">Contact</a>
                </div>
                <div class="mobileNavbar" v-if="language == 'mk'">
                    <div class="dropdown">
                        <button class="dropbtn" style="margin-right: 10px;"><i class="fa-solid fa-bars"></i></button>
                        <div class="dropdown-content">
                            <a href="/proizvodi">Производи</a>
                            <a href="/about">За нас</a>
                            <a href="/pdf/catalogMK.pdf" target="_blank">Каталог</a>
                            <a href="/contact">Контакт</a>
                        </div>
                    </div>
                </div>
                <div class="mobileNavbar" v-if="language == 'en'">
                    <div class="dropdown">
                        <button class="dropbtn" style="margin-right: 10px;"><i class="fa-solid fa-bars"></i></button>
                        <div class="dropdown-content">
                            <a href="/proizvodi">Products</a>
                            <a href="/about">About us</a>
                            <a href="/pdf/catalogEN.pdf" target="_blank">Catalogue</a>
                            <a href="/contact">Contact</a>
                        </div>
                    </div>
                </div>
                <!-- <div><img src="images/flags/usFlag.png" v-on:click="changeLanguage()" v-if="language == 'mk'" style="width: 35px; cursor: pointer; margin-left: 10px;"><img src="images/flags/mkFlag.png" v-on:click="changeLanguage()" v-if="language == 'en'" style="width: 35px; cursor: pointer; margin-left: 10px;"></div> -->

                <div style="border-left: 2px solid green; padding: 10px;"><a v-on:click="changeLanguage('mk')" class="greenColor" v-bind:style="[language == 'mk' ? {'border-bottom': '2px solid'} : {'border-bottom':'none'}]">MK</a><span class="greenColor"> / </span><a v-on:click="changeLanguage('en')" class="greenColor" v-bind:style="[language == 'en' ? {'border-bottom': '2px solid'} : {'border-bottom':'none'}]">EN</a></div>
            </div>
        </div>
        
        <hr>
    </div>
</div>
<div class="main">
    <div class="about" style="background: rgb(248, 248, 248); padding: 30px 0px;">
        <div class="container">
            <h1>Најава</h1>
            <hr>
            <div class="row">
                <div class="col-md-4 col-lg-4"></div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <form method="POST" action="/login" style="padding: 10px 25px; color: black; text-align: center;">
                        <div class="form-group">
                            <label for="inputFullName"></label>
                            <input type="text" class="form-control" id="inputFullName" aria-describedby="emailHelp" name="username" placeholder="Корисничко име">
                        </div>
                        <div class="form-group">
                            <label for="subjectOfMail"></label>
                            <input type="password" class="form-control" id="subjectOfMail" aria-describedby="emailHelp" name="password" placeholder="Лозинка">
                        </div>
                        <button type="submit" class="btn btn-primary" style="margin-top: 15px; background: green; border-color: green;">Најава</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>