<div class="header">
	<div class="container">
		<a href="/"><img src="images/logo.png"></a>
		<hr>
		<div class="headerButtons">
			<div class="navbar">
				<a href="/proizvodi" class="bigButton">Производи</a>
				<a href="/about">За нас</a>
				<a href="">Каталог</a>
				<a href="/contact">Контакт</a>
			</div>
			<div><img src="images/usFlag.png" style="width: 35px;"></div>
		</div>
	</div>
</div>

<div class="main" id="mainApp">
	<div class="categories">
		<div class="container">
			<h1>КАТЕГОРИИ</h1>
			<hr class="mainLine">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-4 col-lg-4" v-for="category in categories">
					<div class="categoryBox" v-bind:style="{ background: 'url(images/category/' + category.categoryImageID + ')'  }" v-on:click="redirectToCategory(category.id)" style=" background-size: cover; background-position: center; background-repeat: no-repeat;">
						<p>{{ category.categoryName }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>